@page
@model LMS.Pages.Charts.IndexModel
@{
}


@{
    ViewData["Title"] = "Charts";
}

<h2>Sample Google Chart</h2>


<canvas id="myChart"></canvas>

<!-- Load Google Charts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/@@sgratzl/chartjs-chart-boxplot@3.6.0/build/index.umd.min.js"></script>
    <script>
        // setup 
        const data = {
        labels: ['Mon'],
        datasets: [{
            label: 'Weekly Sales',
            outlierColor: '#999999',
            padding: 0,
            itemRadius: 0,
            outlierRadius: 0,
            data:
            [
                [1,2,3,3,4,32,2,3,14,1,24,1,34,23,12,2,4]
            ],
            backgroundColor: 'rgba(255, 26, 104, 0.2)',
            borderColor: 'rgba(255, 26, 104, 1)',
            borderWidth: 1
        }]
        };

        // config 
        const config = {
        type: 'boxplot',
        data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
            elements: {
                point: {
                    radius: 0,
                    display:
                }
            }
        }
        };

        // render init block
        const myChart = new Chart(
        document.getElementById('myChart'),
        config
        );
</script>
