# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.db

# NuGet
*.nupkg
packages/
project.lock.json
project.assets.json
*.nuget.g.props
*.nuget.g.targets

# Rider / JetBrains
.idea/

# Misc
*.log
*.vsidx
*.sqlite