@using Microsoft.AspNetCore.Identity
@using LMS.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover({title: "Notifications", content: "New Assignment for CS 3750"});
});
</script>
</head>

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Profile">Profile</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/StudentAccount/Index">Account</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Calendar/Index">Calendar</a>
    </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Charts/Index">Chart</a>
        </li>

     @if (User.HasClaim("UserType", "Student"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="/Registrations/Create">Registration</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Courses" title="Courses">Courses</a>
            </li>
        }


    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button  type="submit" class="nav-link text-dark">Logout</button>
        </form>
    </li>

    @if (User.HasClaim("UserType", "Student"))
        {
            <li class="nav-item">
                <button type="button" class="btn" data-toggle="popover">
                    <img src="images/BellIcon.png" alt="Notifications" height="25" width="25"/>
                </button>
            </li>
        }
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
