@using Microsoft.AspNetCore.Identity
@using LMS.models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/About">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Calendar">Calendar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/File">File</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Registrations/Create">Registration</a>
    </li>

    <li class="nav-item">
        <a  class="nav-link text-dark" href="/Courses" title="Courses">Courses</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
