@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>LMS Learning Management System - Please log in to continue.</p>

    <a href="/Identity/Account/Login" class="btn btn-primary btn-large">Log In</a>

    <br><br>

    <p>New User? Sign Up</p>
    
    <a href="/Identity/Account/Register" class="btn btn-primary btn-large">Sign Up</a>
    
</div>
