@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    LMS Learning Management System by Group 2: 
    <ul>
    <li>Jayanti Acharya</li>
    <li>Komlan Assogba</li>
    <li>Edan Chaparro</li>
    <li>Jordan Petersen</li>
    <li>Hayden Swain-Schmit</li>
    <li>Kian Thyberg</li>
    </ul>
</p>
